{{ define "main" }}
<div class="container">
  {{ .Content }}

  <h2>Recent Articles</h2>
  {{ range .Site.Data.articles.recent.entries }}
  <div class="article-entry">
    <div class="article-entry__header">
      <h3><a href="{{ .url }}">{{ .title }}</a></h3>
      <span class="article-entry__date">{{ .date }}</span>
    </div>
    <p>{{ .description }}</p>
    {{ with .tags }}
    <div class="article-entry__tags">
      {{ range . }}
      <span class="tag">{{ . }}</span>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  <hr />

  <h2>Published on Medium</h2>
  {{ with .Site.Data.articles.published }} {{ range .sections }}
  <h4>{{ .year }}</h4>
  {{ range .entries }}
  <div class="article-entry">
    <div class="article-entry__header">
      <h3>
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"
          >{{ .title }}</a
        >
      </h3>
      <span class="article-entry__date">{{ .date }}</span>
    </div>
    <p>{{ .description }}</p>
    {{ with .tags }}
    <div class="article-entry__tags">
      {{ range . }}
      <span class="tag">{{ . }}</span>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }} {{ end }} {{ end }}
</div>
{{ end }}
